body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    background: rgb(28, 121, 28);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.hero{
    background-color: rgb(125, 196, 125);
    text-align: center;
    padding: 50px;
}
section{
    padding: 40px;
}
footer{
    background:rgb(28, 121, 28);
    color: white;
    text-align: center;
    padding: 10px;
}